# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
17 *    * * *   root    cd / && run-parts --report /etc/cron.hourly
25 6    * * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6    * * 7   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6    1 * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
#########################################
# optimize iptables rules               #
# update netselect-apt mirror job       #
# update PIA VPN server list job        #
# update unbound root.hints job         #
# update Let's Encrypt certificates job #
#########################################

# iptables-optimizer - run every hour
0 * * * * root iptables-optimizer -c && sleep 2 && netfilter-persistent save
0 * * * * root ip6tables-optimizer -c && sleep 2 && netfilter-persistent save

# let's add a cron job (00:00 every day/month/day of week) in case of environment migration for new download mirror: 
# https://stackoverflow.com/questions/878600/how-to-create-a-cron-job-using-bash-automatically-without-the-interactive-editor#comment75562934_878647
# 0 0 * * * root /usr/bin/netselect-apt

# renew PIA server list at 11:59 PM every day
# https://www.privateinternetaccess.com/vpninfo/servers
# 0 0 * * * root /root/scripts/pia-nm.sh

# first of every month at 00:00 update unbound root.hints file
0 0 1 * * root /usr/bin/curl -o /etc/unbound/root.hints https://www.internic.net/domain/named.cache && sleep 2 && chown unbound:unbound /etc/unbound/root.hints

# every day at 00:00 update unbound_ad_servers file
0 0 * * * root /usr/bin/curl -o /etc/unbound/unbound_ad_servers "https://pgl.yoyo.org/adservers/serverlist.php?hostformat=unbound&showintro=0&startdate%5Bday%5D=&startdate%5Bmonth%5D=&startdate%5Byear%5D=&mimetype=plaintext" && sleep 2 && chown unbound:unbound /etc/unbound/unbound_ad_servers

# Let's Encrypt certificate renewal
# 0 0 1 * * root /opt/letsencrypt/letsencrypt-auto renew
# 0 0 * * * root cd /opt/letsencrypt && git pull



